ipch/
*.vsp
*.suo
*.opensdf
*.sdf
*.ipch
*.psess
*.pdb
*.a
lib/local/CLM/Debug/
lib/local/CLM/Release/
lib/local/Puppets/Debug/
lib/local/Puppets/Release/
lib/3rdParty/dlib/Release/
lib/3rdParty/dlib/Debug/
lib/local/FaceAnalyser/Release/
lib/local/FaceAnalyser/Debug/
exe/SimpleCLM/Debug/
exe/SimpleCLM/Release/
exe/CLM_Yarp/Debug/
exe/CLM_Yarp/Release/
exe/CLM_Yarp_Gaze/Debug/
exe/CLM_Yarp_Gaze/Release/
/Debug/
/Release/
CMakeFiles/
/bin/
Makefile
cmake_install.cmake
CMakeCache.txt
videos/images_track/

